{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Liste NOM LISTE{% endblock %}

{% block stylesheets %}

<!-- Stylesheet GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Yeseva+One&display=swap"
    rel="stylesheet">

<!-- Stylesheet BOOTSTRAP -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" href="{{ asset('css/style-city-list.css') }}" crossorigin="" />

{% endblock %}

{% block container %}

<div class="city-list-result">

  {% dump(randomCities) %}

    <h1>Destinations aléatoires</h1>
    <p class="intro">Pour les curieux, découvrez ici des destinations auxquelles vous n'auriez pas pensé.</p>

    {% for city in randomCities %}
    <a href="{{ path('city_show', { geonameId : city.geonameId }) }}">
        <div class="city-card" data-name="{{ city.cityName }}" data-geonameid="{{ city.geonameId }}">
            <img class="city-img" src="" alt="Image de "
                onerror="this.src='{{ asset('images/loader.gif') }}'" />
            <p class="city-name">{{ city.cityName }}</p>
        </div>
    </a>
    {% endfor %}

</div>


  



{% endblock %}


{% block javascripts %}

{{ parent() }}

<script>

    let cities = document.querySelectorAll('.city-card');

    let cityName = '';
    let cityId = '';
    cities.forEach(

        function (city) {
            let cityName = city.dataset.name;
            //cityName = cityName.replace(/\s/g,'');
            cityName = cityName.replace(/\s/g, '-');
            let cityId = city.dataset.geonameid;


            // Récupération des images de ville

            fetch('/api/v1/image/' + cityName)
                .then(
                    (response) => {
                        return response.status == 200 ?
                            (
                                //console.log(response.status + ' - opération effectué'),
                                response.json()
                            )

                            :
                            (response.status === 204) ? response.status + ' - pas de resultats'

                                :
                                console.log('L\'opération a échoué')
                    })
                .then(
                    (data) => {
                        let imageElement = city.querySelector('img');
                        imageElement.setAttribute('src', data.thumb)


                    }
                );


        }
    )

</script>
{% endblock %}