{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Mes villes suivies{% endblock %}

{% block stylesheets %}

<!-- Stylesheet GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Yeseva+One&display=swap"
    rel="stylesheet">

<!-- Stylesheet BOOTSTRAP -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" href="{{ asset('css/style-city-list.css') }}" crossorigin="" />

{% endblock %}

{% block container %}


{# {{ dump(app.request.headers.get('referer')) }} #}

<div class="city-list-result-show">
    <h1>Villes suivies</h1>
    {% for favorite in app.user.cityLikes %}
    <div class="card city-card text-center mt-3 p-3"  data-name="{{ favorite.city.cityName }}" style="width: 18rem;">
        <img src="" class="img-thumbnail" alt="Image de la ville de {{ favorite.city }}" onerror="this.src='{{ asset('images/loader.gif') }}" style="width: 100px; height:100px;">
        <div class="card-body text-center">
            <h5 class="card-title">{{ favorite.city }}</h5>
            <a href="{{ path('city_show', {geonameId: favorite.city.geonameId}) }}">Voir la fiche de la ville</a>
        </div>
    </div>
        {% endfor %}
</div>

{% endblock %}


{% block javascripts %}

{{ parent() }}
<script>

    let cities = document.querySelectorAll('.city-card');

    let cityName = '';
    let cityId = '';
    cities.forEach(

        function (city) {
            let cityName = city.dataset.name;
            //cityName = cityName.replace(/\s/g,'');
            cityName = cityName.replace(/\s/g, '-');
            let cityId = city.dataset.geonameid;


            // Récupération des images de ville

            fetch('/api/v1/image/' + cityName)
                .then(
                    (response) => {
                        return response.status == 200 ?
                            (
                                //console.log(response.status + ' - opération effectué'),
                                response.json()
                            )

                            :
                            (response.status === 204) ? response.status + ' - pas de resultats'

                                :
                                console.log('L\'opération a échoué')
                    })
                .then(
                    (data) => {
                        let imageElement = city.querySelector('img');
                        imageElement.setAttribute('src', data.thumb)


                    }
                );


        }
    )

</script>

{% endblock %}