{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Recherche{% endblock %}

{% block container %}
<div class="form-container-search">
    <h1 class="text-center">Recherche simplifiée</h1>
    <a href="{{ path('advanced_search') }}" class="search-redirection d-block text-center mb-0">Faire une recherche filtrée</a>
<<<<<<< HEAD
    <p class="text-center">Saisissez le nom d'une ville afin d'accéder à sa fiche.</p>
    
    <form method="POST">
        <input list="inputSearch" id="search" name="search" placeholder="Buenos Aires" />
        <input type="hidden" name="selectedCity" id="selectedCity" value="">
        <datalist id="inputSearch" placeholder="Sélectionner une ville">
        </datalist>
    

    <button class="btn form-submit">{{ button_label|default('Search') }}</button>
    </form
    
    <div id="resultats"></div>


=======
    <p class="text-center">Saisissez le nom d'une ville et cliquez sur son nom afin d'accéder à sa fiche.</p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    <div id="search-error" class="search-error-hidden">Cette ville n'existe pas !</div>
    <div id="search-results"></div>
</div>

<template id="template__elt">
    <div class="card">
        <div class="card-body">
        
        </div>
    </div>
</template>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        document.querySelector('form').addEventListener('submit',function(evt) {
            evt.preventDefault();
            document.querySelector('input').value = '';
        }, true)



        console.log('run searchBar...');
        //example
        //stretched-link

        function createCardSuggestionCity(cityName, countryName, urlCity) {
            //cible le template
            let tplElt = document.getElementById('template__elt');
            //fait un clone où je vais insérer du contenu
            let tpl = tplElt.content.cloneNode(true);

            //author.startListenerKeyUp();

            //remplissage des données
            console.log(tpl.querySelector(".card-body"));
            tpl.querySelector(".card-body").innerHTML = '<a class="stretched-link" href="' + urlCity + '"><b>' + cityName + '</b>, ' + countryName + '</a>';
            //tpl.querySelector('a').addEventListener("click",function() { console.log("ok") });
            //insertion dans le DOM
            document.getElementById("search-results").appendChild(tpl);
        }

        // Clear the result div when clicking somewhere else, except on listed element in the stackoverflow resource
        document.getElementById('search').onblur = function (evt)
        { 
            let searchError = document.getElementById('search-error');
            let target = evt.relatedTarget; // https://stackoverflow.com/questions/42764494/blur-event-relatedtarget-returns-null
            
            if(target != null) {
                target.click();
            }

            document.getElementById('search').value = '';
            document.querySelector('#search-results').innerHTML = '';
            document.getElementById('search').style.boxShadow = 'none';
            searchError.classList.remove('search-error-show');
            searchError.classList.add('search-error-hidden');
        }  

        // Clear the result div when clicking on 'x' to erase search
        document.getElementById('search').onsearch = function (evt)
        { 
            let searchError = document.getElementById('search-error');
            document.querySelector('#search-results').innerHTML = '';
            document.getElementById('search').style.boxShadow = 'none';
            searchError.classList.remove('search-error-show');
            searchError.classList.add('search-error-hidden');
        }

        function loop(data) {
            console.log(data);
            for (let i = 0; i < data.length; i++) {

                let inputValue = '';

                if(data[i].cityName)
                {
                    console.log(data[i].cityName);
                    createCardSuggestionCity(data[i].cityName, data[i].countryName, data[i].urlCity);
                    console.log(data[i].cityName);
                }
                else
                {
                    let searchError = document.getElementById('search-error');
                    searchError.classList.add('search-error-show');
                    searchError.classList.remove('search-error-hidden');
                    searchError.style.fontSize = "0.9em";
                    searchError.style.position = "absolute";
                    searchError.style.left = "50%";
                    searchError.style.top = "305px";
                    searchError.style.transform = "translateX(-50%)";
                    searchError.style.color = "red";

                    inputValue = document.getElementById('search').value;
                    console.log(inputValue);
                    document.getElementById('search').style.boxShadow = "0px 0px 3px 0px rgba(207, 16, 16, 1)";

                    document.getElementById('search').onfocus = function ()
                    {
                        document.getElementById('search').value = '';
                        document.getElementById('search').style.boxShadow = "0px 0px 3px 0px rgba(87, 130, 78, 1)";
                    } 
                }

                
            }

        }
>>>>>>> backend

    <template id="city-card">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
    </template>

<<<<<<< HEAD
</div>
{% endblock %}

{% block javascripts %}
<script>
    const inputSearch = document.getElementById('search');
    inputSearch.addEventListener('keyup', handleKeyUp);
    let city;
    
    function handleKeyUp(evt) {
        city = evt.target.value;
        
        if(city.length > 2)
        {
            fetch('http://127.0.0.1:8000/api/v1/city?city_name=' + city)
                .then(
                    (response) => {
                        return response.status == 200 ?
                            (
                                console.log(response.status + ' - opération effectué'),
                                response.json()
                            )
                            // TODO d'autres choses, certainement
                            :
                            (response.status === 204) ? response.status + ' - pas de resultats'
=======

        const inputElt = document.getElementById('search');

        // Function used to add delay on ajax request. 
        const debounce = (func, delay) => { 
            let debounceTimer 
            return function() { 
                const context = this
                const args = arguments 
                    clearTimeout(debounceTimer) 
                        debounceTimer 
                    = setTimeout(() => func.apply(context, args), delay) 
            } 
        }  

        inputElt.addEventListener('keyup', debounce(handleKeyUp, 500));
        let city;

        function handleKeyUp(evt)
        {
            city = evt.target.value;

            if(!city)
            {   
                let searchError = document.getElementById('search-error');
                document.getElementById('search').style.boxShadow = "0px 0px 3px 0px rgba(87, 130, 78, 1)";
                searchError.classList.remove('search-error-show');
                searchError.classList.add('search-error-hidden');
            }

            if (city.length > 2) {
                query(city);
            }

            document.getElementById("search-results").innerHTML = '';
>>>>>>> backend

                                :
<<<<<<< HEAD
                                console.log('L\'opération a échoué')
                    })
                .then(
                    (data) => {
                        console.log(data);

                        
                        for (let i = 0; i < data.length; i++) {
                            document.querySelector('datalist').innerHTML = '';
                            let optionElement = document.createElement('option');
                            optionElement.innerHTML = data[i].cityName+', '+data[i].countryName;
                            optionElement.setAttribute('data-value', data[i].id);

                            document.querySelector('datalist').append(optionElement);

                            let selectedCityGeonameId = document.getElementById('selectedCity');
                            selectedCityGeonameId.value = document.querySelector('option').dataset.value;
                            console.log(selectedCityGeonameId);
=======
                                (response.status === 204) ? response.status + ' - pas de resultats'

                                    :
                                    console.log('L\'opération a échoué')
                        })
                    .then(
                        (data) => {
                            console.log(data);
                            
                            if (data !== 204) {
                                loop(data); 
                            }
>>>>>>> backend
                        }
                    }
                );
        }
        

    }
        //TODO -js
        //une fois le event click sur la ville souhaité il faut aller chercher à l'api avec son geonameid
        ////requete pour geonameid https://api.teleport.org/api/cities/geonameid%3A3435910/
        //https://api.teleport.org/api/cities/geonameid:3435910/

</script>

{% endblock %}