{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}
    <h1>Review</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ review.id }}</td>
            </tr>
            <tr>
                <th>TravelDate</th>
                <td>{{ review.travelDate ? review.travelDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ review.text }}</td>
            </tr>
            <tr>
                <th>PositiveVote</th>
                <td>{{ review.positiveVote }}</td>
            </tr>
            <tr>
                <th>NegativeVote</th>
                <td>{{ review.negativeVote }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ review.status }}</td>
            </tr>
            <tr>
                <th>Report</th>
                <td>{{ review.report }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ review.rate }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ review.createdAt ? review.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ review.updatedAt ? review.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('review_index') }}">back to list</a>

    <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>

    {{ include('review/_delete_form.html.twig') }}
{% endblock %}
