{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Connexion {% endblock %}

{% block container %}
    <div class="form-container">
<form method="post" id="formLogin">

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}



    <h1 class="text-center h1-login">Se connecter</h1>
    <a href="{{ path('app_register') }}" class="login-authentication text-center">Créer un compte</a>

    {% if error %}
        {% if error.messageKey == 'Votre compte est suspendu.' %}
        <span class="span__alert">
            <span class="form-error-message-login text-alert">{{ error.messageKey }}</span>
        </span>
        {% else %}
        <span class="span__alert">
            <span class="form-error-message-login text-alert">Ces identifiants sont incorrects.</span>
        </span>
        {% endif %}
    {% endif %}
        <label for="inputEmail" id="labelEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autofocus>
        <label for="inputPassword" id="labelPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control">
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn form-submit-login d-block mx-auto" type="submit">
        S'identifier
    </button>

</form>
{% endblock %}

{% block javascripts %}

{{ parent() }}
<script>
// Used for hiding the error login message if user account suspended.
if(document.querySelector('.alert-danger'))
{
    document.querySelector('.span__alert').style.display = "none";
}
</script>


<script>
    /* This script is used to cancel autocomplete on email and password input */
    document.getElementById('inputPassword').setAttribute('autocomplete', 'new-password');


           {{ parent() }}

            <script>
            /* Taking of focus on email input */
            document.getElementById('inputEmail').blur;

            /* This script is used to cancel autocomplete on email and password input */ 
            document.getElementById('inputPassword').setAttribute('autocomplete', 'new-password');
            
            /* This script is used to style error message according to constraint validations*/ 

            if(document.querySelectorAll('.invalid-feedback'))
            {
                let inputs = document.querySelectorAll('input');
                inputs.forEach(
                    function(input)
                    {
                        /*
                        if(formGroupDiv.querySelector('.invalid-feedback'))
                        {
                            let errorDiv = formGroupDiv.querySelector('.invalid-feedback');
                            let errorIcon = errorDiv.querySelector('.form-error-icon');
                            errorIcon.textContent = "Attention";
                            let cloneErrorDiv = errorDiv.cloneNode(true);
                            errorDiv.innerHTML = "";
                            cloneErrorDiv.classList.remove('d-block');   
                            formGroupDiv.appendChild(cloneErrorDiv);
                        } 
                        */

                       
                    }
                )     

                

          
            }



            /*  This script allows us to change informations, styles of labels and inputs on click or on blur */ 

            //Changing placeholders for email
            document.getElementById('inputEmail').onclick = function(evt)
            {
                evt.target.setAttribute('placeholder', 'jean.dupont@gmail.com');
            }
            
            //Adding event listeners on inputs
            let inputEmail = document.querySelector('#inputEmail');
            let inputPassword = document.querySelector('#inputPassword');
            let labelEmail = document.querySelector('#labelEmail');
            let labelPassword = document.querySelector('#labelPassword');

            if(inputEmail.value !== '')
            {
                labelEmail.style.fontSize = "35px";
                labelEmail.style.top = "60px";
                labelEmail.style.left = "15px";
            }

            if(inputPassword.value !== '')
            {
                labelPassword.style.fontSize = "35px";
                labelPassword.style.top = "60px";
                labelPassword.style.left = "15px";
            }

            inputEmail.addEventListener('focus', handleClickOnInputEmail, false);
            inputPassword.addEventListener('focus', handleClickOnInputPassword, false);

            function handleClickOnInputEmail(evt)
            {

                labelEmail.style.fontSize = "35px";
                labelEmail.style.top = "60px";
                labelEmail.style.left = "15px";
                  
                inputEmail.onblur = function()
                {
                    if(!inputEmail.value)
                    {
                        inputEmail.classList.add('constraint');
                    }
                    else
                    {
                        inputEmail.classList.remove('constraint');
                        inputEmail.classList.add('valid');
                    }
                }

                inputPassword.onblur = function()
                {
                    if(!inputPassword.value)
                    {
                        inputPassword.classList.add('constraint');
                    }
                    else
                    {
                        inputPassword.classList.remove('constraint');
                        inputPassword.classList.add('valid');
                    }
                }

            }

            function handleClickOnInputPassword(evt)
            {

                labelPassword.style.fontSize = "35px";
                labelPassword.style.top = "60px";
                labelPassword.style.left = "15px";
                  
                inputPassword.onblur = function()
                {
                    if(!inputPassword.value)
                    {
                        inputPassword.classList.add('constraint');
                    }
                    else
                    {
                        inputPassword.classList.remove('constraint');
                        inputPassword.classList.add('valid');
                    }
                }

                inputPassword.onblur = function()
                {
                    if(!inputPassword.value)
                    {
                        inputPassword.classList.add('constraint');
                    }
                    else
                    {
                        inputPassword.classList.remove('constraint');
                        inputPassword.classList.add('valid');
                    }
                }

            }

            </script>
        {% endblock %}
