{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}
    <h1>Review index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TravelDate</th>
                <th>Text</th>
                <th>PositiveVote</th>
                <th>NegativeVote</th>
                <th>Status</th>
                <th>Report</th>
                <th>Rate</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.travelDate ? review.travelDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ review.text }}</td>
                <td>{{ review.positiveVote }}</td>
                <td>{{ review.negativeVote }}</td>
                <td>{{ review.status }}</td>
                <td>{{ review.report }}</td>
                <td>{{ review.rate }}</td>
                <td>{{ review.createdAt ? review.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ review.updatedAt ? review.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('review_show', {'id': review.id}) }}">show</a>
                    <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('review_new') }}">Create new</a>
{% endblock %}
